body{
    background-color: #000000;
    font-family: Arial, Verdana;
    color: #ffffff;
	margin: 20px 20px 0px 20px;
}
h1{
    text-align: center;
    font-size: 42px;
    padding: 15px;
}
h2{
    font-size: 30px;
    color: #0D0D0D;
}
p{
    font-size: 24px;
    padding: 10px 0px 0px 10px;
}
img {
    display: block;
	width: 250px;
    border: 10px dashed #ffffff;
    margin: auto;
}
div {
    padding: 20px;
    border: 3px solid #ffffff;
    min-height: 125px;
}
.introduction {
    border-radius: 15px;
    margin: 15px 0px 0px 0px;
    line-height: 2;
}
.red {
    background-color: #ff0000;
    text-align: right;
    margin: 0px 0px 0px 50px;
    border: 0px 0px 2px 5px;
}
.blue {
    background-color: #0000ff;
    text-align: left;
    margin: 0px 50px 0px 0px;
    border: 2px 5px 0px 0px;
}
.blue h2, .blue p {
    color: #C4C4C4;
}
.yellow {
    background-color: #ffff00;
    text-align: right;
    margin: 0px 0px 0px 50px;
    border: 0px 0px 2px 5px;
}
.yellow p {
    color: #707070;
}
.green {
    background-color: #008500;
    text-align: left;
    margin: 0px 50px 0px 0px;
    border: 2px 5px 0px 0px;
}
footer {
  background: linear-gradient(to right,#000000 0%,#0000ff 25%,#0066ff 70%,#000000 100%);
  border: 5px solid #ffffff;
}
footer p {
  font-size: 20px;
  text-align: right;
  padding: 15px 15px 15px 0px;
}
